<div class="elite-bg">
  <div class="commit {{appDetails.denv.display}}">
    Commit : {{appDetails.denv.commit}}
  </div>
  <div class="center-wrapper">
    <div class="center-box">
      <div class="elite-title">
        <div class="title-primary">La carte élite.</div>
        <div class="title-secondary">Plus qu'une carte, un mode de vie.</div>
      </div>
      <form (submit)="requestpwd($event)" *ngIf="!reset_code">
        <div class="text-sm-left text-muted"><label for="email">
        <span *ngIf="Auth.error" class="text-{{Auth.error.errorSeverity}}">
          {{Auth.error.errorContent}}
        </span>
          <span *ngIf="!Auth.error">
            Réinitialiser votre mot de passe
          </span>
        </label></div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email" required>
        </div>
        <button type="submit" class="btn btn-dark btn-block">Envoyer <fa-icon [icon]="faKey"></fa-icon></button>
      </form>
      <form (submit)="resetpwd($event)" *ngIf="reset_code">
        <div class="text-sm-left text-muted"><label for="email">
        <span *ngIf="Auth.error" class="text-{{Auth.error.errorSeverity}}">
          {{Auth.error.errorContent}}
        </span>
          <span *ngIf="!Auth.error">
            Réinitialiser votre mot de passe
          </span>
        </label></div>
        <div class="activate-infos">
          <div class="form-group">
            <input type="text" class="form-control" id="reset_code" placeholder="code envoyé par email" [value]="reset_code" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="email" required>
          </div>
        </div>
        <div class="activate-infos">
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="nouveau mot de passe" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="c_password" placeholder="confirmer le mot de passe" required>
          </div>
        </div>
        <button type="submit" class="btn btn-dark btn-block">Envoyer <fa-icon [icon]="faKey"></fa-icon></button>
      </form>
      <div class="activate-return elite-link">
        <a routerLink="/login">Retour <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
