.feed-bg {
    background-image: url("../img/pipes.png");
    overflow-x: hidden;

}

.feed-nav {
    background-image: url("../img/prism.png");
    color: white;
}



.post-btn, .post-vote   {
    align-content: center;
    text-align: center;
}

.elite-post {
    padding: 50px;
    background-color: #f6f9f9;
    border-radius: 7px;
    margin-bottom: 15px;
    max-height: 1000px;
}

.feed-body {
    min-height: 75rem;
    padding-top: 4.5rem;
}


.commit{
    color: black;
    font-size: medium;
}

.elite-link-color {
    color: #e2ad46;
    font-weight: lighter;
}
a.elite-link-color {
    color: #e2ad46;
    font-weight: lighter;
}

a.elite-nav-title {
    font-weight: 300;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: #f4f7f7;
}

.avatar-img-mini {
    max-height: 40px;
    max-width: 40px;
}

.post-title{
    font-weight: bold;
    font-family:  Arial, sans-serif;
    font-size: 1.2em;
}

.elite-title-feed{
    font-weight: 300;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: x-large;
    background-color: #e2ad46;
    border-radius: 9px;
    color: #fdfdfe;
}

a.neutral-link {
    color: #1d1e1e;
    text-decoration: none;
}

.post-header{
    border-bottom: 1px solid #818182;
}

.post-body {
    display: block;
    align-content: center;
    text-align: center;
    max-height: 512px;
}

.post-body > img {
    max-height: 500px;
}


.profile-side {
    padding: 40px;
    background-color: #f4f7f7;
    border-radius: 7px;
    text-align: center;
}

.profile-section {
    margin-top: 10px;
}
.profile-section > div {
    padding-top: 3px;

}
.profile-section > img {
    margin-top: 3px;
}

.profile-card {
    border-radius: 10px;
}

.card-section {
    margin-top: 75px;
}

.card-section > div {
    padding-top: 15px;
}

.new-post {
    margin-top: 75px;
}

footer {
    background-image: url("../img/prism.png");
    text-align: center;
    padding: 20px;
    font-weight: lighter;
}

