<app-navbar></app-navbar>
<main role="main" class="container feed-body">
  <div class="elite-post p-4">
    <div class="post-title">
      Mettre à jour votre avartar
    </div>
    <div *ngIf="Auth.error">
      <span class="text-{{Auth.error.errorSeverity}}">{{Auth.error.errorContent}}</span>
    </div>
    <form enctype="multipart/form-data" (submit)="update($event)" id="post_form">
      <label for="avatar">Avatar</label>
      <div class="form-group">
        <input class="form-control-file" type="file" id="avatar">
      </div>
      <button class="btn btn-outline-dark" type="submit">Envoyer <fa-icon [icon]="faPaperPlane"></fa-icon></button>
    </form>
    <div class="activate-return elite-link">
      <a routerLink="/feed">Retour <fa-icon [icon]="faArrowCircleLeft"></fa-icon></a>
    </div>
    <div class="progress mt-4">
      <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
    <div class="alert-info">
      <div id="uploading" class="alert d-none">Uploading...</div>
    </div>
  </div>
</main>
