<!--
  ~ Copyright © Swano(s)
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
  ~
  ~ The Software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the Software or the use or other dealings in the Software.
  ~
  ~ Except as contained in this notice, the name(s) of (the) Author shall not be used in advertising or otherwise to promote the sale, use or other dealings in this Software without prior written authorization from (the )Author.
  ~
  ~
  ~
  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La carte Élite - Le réseau</title>
    <link href="bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <link href="css/feed.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="feed-bg">
    <nav class="navbar navbar-expand-lg fixed-top feed-nav d-none d-lg-flex">
        <a class="navbar-brand elite-nav-title" href="#">La carte Élite.</a>
        <ul class="navbar-nav w-100">
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle elite-link-color" href="#" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{usrename}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="usermenu">
                    <a class="dropdown-item" href="#">Mon profil</a>
                    <a class="dropdown-item" href="#">Securité</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Déconnection</a>
                </div>
            </li>
        </ul>
    </nav>
    <nav class="navbar fixed-top feed-nav d-lg-none">
        <div class="container">
                <a class="navbar-brand elite-nav-title" href="#">La carte Élite.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmobile" aria-controls="navbarmobile" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="elite-link-color"><i class="fas fa-bars"></i></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarmobile">
                <ul class="navbar-nav">
                    <li class="nav-link">
                        <a class="elite-link-color" href="#">Mon profil</a>
                    </li>
                    <li class="nav-link ">
                        <a class="elite-link-color" href="#" routerLink="/pwdchange">Paramètres</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-link ">
                        <a class="elite-link-color" href="#" routerLink="/logout">Déconnection</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main role="main" class="container feed-body">
        <div class="elite-post p-4">
            <div class="post-title">
                Postez!
            </div>
            <form enctype="multipart/form-data" method="post" action="http://192.168.152.130:8080/api/v2/user/post">
                <label for="title"></label>
                <div class="form-group">
                    <input name="title" class="form-control" type="text" required placeholder="Titre du post" id="title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" name="desc" id="desc"  placeholder="Description du post">
                </div>
                <div class="form-group">
                    <input type="file" class="form-control-file" name="image" id="image">
                </div>
                <button class="btn btn-outline-dark" type="submit">Envoyer <i class="fa fa-check-circle"></i></button>
            </form>
        </div>
    </main>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
</body>
<footer >
    <span class="text-center text-light">Les ohms au cube (c) 2019</span>
</footer>
</html>