<html>
<head>
<title>Dashboard</title>
    <link href="bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <link href="css/auth.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<div class="dash-bg">
    <header>
        <nav class="navbar navbar-expand-lg dash-nav">
            <span class="navbar-brand">La carte élite.</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto dropdown dropdown-menu-right">
                    <li class="nav-item  elite-link">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i> {{userInfos.username}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="userDropdown">
                            <div class="dropdown-item">{{userInfos.credit}} points <span class="font-italic">Elite</span></div>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="/pwdchange">Change Password</a>
                            <a class="dropdown-item" routerLink="/logout">Log Off</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-11 ml-sm-auto col-lg-12 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0 elite-color-credit">
                        {{userInfos.credits}} credits restants.
                    </div>
                </div>
                <section class="container">
                    <table class="table">
                        <tr>
                        <td>
                            <div class="post-btn"><i class="fa fa-arrow-up"></i> </div>
                            <div class="post-vote">100</div>
                            <div class="post-btn"><i class="fa fa-arrow-down"></i> </div>
                        </td>
                            <td></td>
                            <td>
                                <div class="elite-post">
                                    <span class="text-left">Utilisateur </span><span class="text-right">11/11/2011</span>

                                    <div class="post-content">
                                        <div class="title-primary">Titre</div>
                                        <div class="title-secondary">Description</div>
                                        <img class="img-fluid" src="https://stor-elite21.s3.amazonaws.com/static/uploads/w1dzxusfjnhu9qopohfv4">
                                    </div>
                                </div>
                            </td>
                        <td>
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <div class="post-btn"><i class="fa fa-arrow-up"></i> </div>
                            <div class="post-vote">100</div>
                            <div class="post-btn"><i class="fa fa-arrow-down"></i> </div>
                        </td>
                            <td></td>
                            <td>
                                <div class="elite-post">
                                    <span class="text-left">Utilisateur </span><span class="text-right">11/11/2011</span>

                                    <div class="post-content">
                                        <div class="title-primary">Titre</div>
                                        <div class="title-secondary">Description</div>
                                        <img class="img-fluid" src="https://stor-elite21.s3.amazonaws.com/static/uploads/w1dzxusfjnhu9qopohfv4">
                                    </div>
                                </div>
                            </td>
                        <td>
                        </td>
                        </tr>
                    </table>


                        </div>
                        <div class="post-header">
                        </div>

                </section>
            </main>
        </div>
    </div>
</div>
<footer class="text-light text-center elite-bg m-3">
    Copyright Swano 2019
</footer>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="bootstrap4/js/bootstrap.min.js"></script>
</body>
</html>
