<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>La carte Élite - Le réseau</title>
    <link href="bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <link href="css/feed.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="feed-bg">
    <nav class="navbar navbar-expand-lg fixed-top feed-nav d-none d-lg-flex">
        <a class="navbar-brand elite-nav-title" href="#">La carte Élite.</a>
        <ul class="navbar-nav w-100">
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle elite-link-color" href="#" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{usrename}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="usermenu">
                    <a class="dropdown-item" href="#">Mon profil</a>
                    <a class="dropdown-item" href="#">Securité</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Déconnection</a>
                </div>
            </li>
        </ul>
    </nav>
    <nav class="navbar fixed-top feed-nav d-lg-none">
        <div class="container">
                <a class="navbar-brand elite-nav-title" href="#">La carte Élite.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmobile" aria-controls="navbarmobile" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="elite-link-color"><i class="fas fa-bars"></i></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarmobile">
                <ul class="navbar-nav">
                    <li class="nav-link">
                        <a class="elite-link-color" href="#">Mon profil</a>
                    </li>
                    <li class="nav-link ">
                        <a class="elite-link-color" href="#" routerLink="/pwdchange">Paramètres</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-link ">
                        <a class="elite-link-color" href="#" routerLink="/logout">Déconnection</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main role="main" class="container">
        <div class="row">
            <div class="col-lg-9 elite-posts">
                <div class="elite-title-feed border-bottom pt-1 pl-4 pr-4 mb-3">
                    Au fil de la connerie...
                </div>
                <div class="elite-post p-4">
                        <div class="row">
                            <div class="col-lg-10 d-inline">
                                <img src="https://via.placeholder.com/150" class="avatar-img-mini rounded-circle">
                                <span class="pl-2">{{username}} &#183; {{points}}</span>
                            </div>
                            <div class="col-lg-2 text-right  d-none d-lg-block">
                                {{date}}
                            </div>
                        </div>
                    <div class=" post-header pt-2">
                        <a href="#" class="neutral-link post-title">{{title}}</a>
                        <p class="post-desc d-block"> {{desc = lorem ipsum lorem ipsum lorem...}}</p>
                    </div>
                    <div class="post-body pt-2">
                        <img class="img-fluid" src="https://preview.redd.it/7ft5hwegslc21.jpg?width=640&crop=smart&auto=webp&s=32b38f6d1759434782dedaebd33a630b10cadef6">
                    </div>
                    <div class="post-vote">
                        <div class="pt-5 pl-5 pr-5 pb-1 justify-content-between d-flex">
                            <span><i class="fa fa-arrow-up fa-2x"></i></span>
                            <span>{{Points élites (pE)}}</span>
                            <span><i class="fa fa-arrow-down fa-2x"></i></span>
                        </div>
                    </div>
            </div>
                <div class="elite-post p-4">
                    <div class="row">
                        <div class="col-lg-10 d-inline">
                            <img src="https://via.placeholder.com/150" class="avatar-img-mini rounded-circle">
                            <span class="pl-2">{{username}} &#183; {{points}}</span>
                        </div>
                        <div class="col-lg-2 text-right  d-none d-lg-block">
                            {{date}}
                        </div>
                    </div>
                    <div class=" post-header pt-2">
                        <a href="#" class="neutral-link post-title">{{title}}</a>
                        <p class="post-desc d-block"> {{desc = lorem ipsum lorem ipsum lorem...}}</p>
                    </div>
                    <div class="post-body pt-2">
                        <img class="img-fluid" src="https://stor-elite21.s3.eu-central-1.amazonaws.com/static/uploads/bdsxhamx9ce1x7znmy3rob">
                    </div>
                    <div class="post-vote">
                        <div class="pt-5 pl-5 pr-5 pb-1 justify-content-between d-flex">
                            <span><i class="fa fa-arrow-up fa-2x"></i></span>
                            <span>{{Points élites (pE)}}</span>
                            <span><i class="fa fa-arrow-down fa-2x"></i></span>
                        </div>
                    </div>
                </div>
                <div class="elite-post p-4">
                    <div class="row">
                        <div class="col-lg-10 d-inline">
                            <img src="https://via.placeholder.com/150" class="avatar-img-mini rounded-circle">
                            <span class="pl-2">{{username}} &#183; {{points}}</span>
                        </div>
                        <div class="col-lg-2 text-right  d-none d-lg-block">
                            {{date}}
                        </div>
                    </div>
                    <div class=" post-header pt-2">
                        <a href="#" class="neutral-link post-title">{{title}}</a>
                        <p class="post-desc d-block"> {{desc = lorem ipsum lorem ipsum lorem...}}</p>
                    </div>
                    <div class="post-body pt-2">
                        <img class="img-fluid" src="https://stor-elite21.s3.amazonaws.com/static/uploads/xnayk9agn2qsvc6aj4y77">
                    </div>
                    <div class="post-vote">
                        <div class="pt-5 pl-5 pr-5 pb-1 justify-content-between d-flex">
                            <span><i class="fa fa-arrow-up fa-2x"></i></span>
                            <span>{{Points élites (pE)}}</span>
                            <span><i class="fa fa-arrow-down fa-2x"></i></span>
                        </div>
                    </div>
                </div>
                <div class="elite-post p-4">
                    <div class="row">
                        <div class="col-lg-10 d-inline">
                            <img src="https://via.placeholder.com/150" class="avatar-img-mini rounded-circle">
                            <span class="pl-2">{{username}} &#183; {{points}}</span>
                        </div>
                        <div class="col-lg-2 text-right  d-none d-lg-block">
                            {{date}}
                        </div>
                    </div>
                    <div class=" post-header pt-2">
                        <a href="#" class="neutral-link post-title">{{title}}</a>
                        <p class="post-desc d-block"> {{desc = lorem ipsum lorem ipsum lorem...}}</p>
                    </div>
                    <div class="post-body pt-2">
                        <img class="img-fluid" src="https://preview.redd.it/7ft5hwegslc21.jpg?width=640&crop=smart&auto=webp&s=32b38f6d1759434782dedaebd33a630b10cadef6">
                    </div>
                    <div class="post-vote">
                        <div class="pt-5 pl-5 pr-5 pb-1 justify-content-between d-flex">
                            <span><i class="fa fa-arrow-up fa-2x"></i></span>
                            <span>{{Points élites (pE)}}</span>
                            <span><i class="fa fa-arrow-down fa-2x"></i></span>
                        </div>
                    </div>
                </div>

            </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="profile-side">
                        <div class="profile-section">
                            <img src="https://via.placeholder.com/150" width="150px" height="150px" class="rounded-circle mb-2">
                            <div class="profile-name">{{surname}} {{lastname}}</div>
                            <div class="text-center font-italic font-weight-bold">{{username}}</div>
                        </div>
                        <div class="profile-section">
                            <div class="text-center">{{points}} <span class="elite-link-color">pE</span></div>
                        </div>
                        <div class="profile-section new-post">
                            <a class="elite-link-color" href="#"><button class="btn btn-outline-dark font-weight-light">Nouveau post <i class="fa fa-plus-circle"></i></button></a>
                        </div>
                        <div class="profile-section card-section">
                            <div>
                                <img src="https://via.placeholder.com/1500" id="card" class="profile-card align-content-center" width="178px" height="115px">
                                <div class="font-weight-light">Carte <span class="card-{{gold}}">{{Gold}}</span></div>
                                <div class="font-weight-light">Département <span class="dep-{{RT}}">{{R&T}}</span></div>
                            </div>
                            <div>
                                <div class="font-italic mt-1 font-weight-light">Carte N° {{card.number}}</div>
                                <div class="font-italic font-weight-light">Expire le : {{card.expire}}</div>
                            </div>
                            <div class="mt-2"><button class="btn btn-outline-dark">Renouveler <i class="fas fa-sync-alt"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap4/js/bootstrap.min.js"></script>
</body>
<footer >
    <span class="text-center text-light">Les ohms au cube (c) 2019</span>
</footer>
</html>