<html>
<head>
<title>Login</title>
    <link href="bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <link href="css/auth.css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<div class="elite-bg">
    <div class="commit {{appDetails.denv.display}}">
        Commit : {{appDetails.denv.commit}}
    </div>
    <div class="center-wrapper">
        <div class="center-box">
            <div class="elite-title">
                <div class="title-primary">La carte Élite.</div>
                <div class="title-secondary">Ajout de votre nouvelle carte Élite.</div>
            </div>
            <form>
                <div class="text-center">
                    Vous avez un compte avec une carte expirée ou révoquée.
                    <br>
                    Liez votre nouvelle carte ici.
                </div>
                <div class="activate-infos">
                    <div class="form-group">
                        <input class="form-control" type="text" required id="username" placeholder="votre nom d'utilisateur">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" required id="password" placeholder="mot de passe">
                    </div>
                </div>
                <div class="text-center text-muted pt-2">Informations sur votre nouvelle carte élite.</div>
                <div class="activate-infos">
                    <div class="form-group">
                        <input id="CAEL_id" required class="form-control" type="tel" placeholder="n° de carte élite" aria-describedby="CAELhelp">
                        <small id="CAELhelp" class="form-text text-muted">Les 8 chiffres sur la face avant de votre carte.</small>
                    </div>
                    <div class="form-group">
                        <input id="reg_code" type="tel" required class="form-control" placeholder="code d'activation" aria-describedby="aCodehelp">
                        <small id="aCodehelp" class="form-text text-muted">Code fourni lors de l'achat de votre carte.</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-dark">Lier <i class="fa fa-check-circle"></i></button>
            </form>
        </div>
    </div>
</div>

<script src="js/check_password.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="bootstrap4/js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
