<header>
  <nav class="navbar navbar-expand-lg fixed-top feed-nav d-none d-lg-flex">
  <a class="navbar-brand elite-nav-title" routerLink="/feed">La carte Élite.</a>
  <ul class="navbar-nav w-100">
    <li class="nav-item dropdown ml-auto">
      <a class="nav-link dropdown-toggle elite-link-color" href="#" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{Auth.user_info.username}}
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="usermenu">
        <a class="dropdown-item" routerLink="/profil">Mon profil</a>
        <a class="dropdown-item" routerLink="/pwdchange">Securité</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/logout">Déconnection</a>
      </div>
    </li>
  </ul>
</nav>
<nav class="navbar fixed-top feed-nav d-lg-none">
  <!-- Mobile Nav -->
  <div class="container">
    <a class="navbar-brand elite-nav-title" routerLink="/feed">La carte Élite.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmobile" aria-controls="navbarmobile" aria-expanded="false" aria-label="Toggle navigation">
      <span class="elite-link-color"><fa-icon [icon]="faBars"></fa-icon></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarmobile">
      <ul class="navbar-nav">
        <li class="nav-item">
          <span class="elite-link-color">{{Auth.user_info.username}}</span>
        </li>
        <li class="nav-link">
          <a class="elite-link-color" routerLink="/profil">Mon profil</a>
        </li>
        <li class="nav-link ">
          <a class="elite-link-color" routerLink="/pwdchange">Securité</a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="nav-link">
          <a class="elite-link-color" routerLink="/newpost">Nouveau post</a>
        </li>
        <li *ngIf="Auth.user_info.admin">
          <a class="elite-link-color" routerLink="/admin">Admin</a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="nav-link ">
          <a class="elite-link-color" routerLink="/logout">Déconnection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
<div *ngIf="Auth.error && !Auth.error.errorUi" class="alert alert-{{Auth.error.errorSeverity}} alert-dismissible fade show" role="alert" style="margin-top: 5%">
  {{Auth.error.errorContent}} <code>{{Auth.error.errorCode}}</code>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
