<ngx-spinner
  type="ball-climbing-dot">
  <p class="elite-link-color">{{quote.quote}}</p>
</ngx-spinner>
<!-- Spinner -->
<app-navbar></app-navbar>
<!-- End navbar -->
<body class="feed-bg feed-body" style="">
<main role="main" class="container">
  <div class="row">
    <div class="col-lg-9 elite-posts">
      <div class="elite-title-feed border-bottom pt-1 pl-4 pr-4 mb-3">
        <blockquote class="blockquote">
          <p class="mb-0">{{quote.quote}}</p>
          <span class="blockquote-footer text-white">{{quote.author}} <cite title="date">{{quote.date}}</cite></span>
        </blockquote>
      </div>
        <div *ngIf="Auth.error && Auth.error.errorUi == 1" class="alert alert-info show">
          Wow. This is empty.
        </div>
        <div id="scroller"
             detect-scroll
             (onScroll)="handleScroll($event)"
             [bottomOffset]="10"
             style="height: 100%; overflow: hidden" >
          <div *ngFor="let page of posts_list;">
            <div class="elite-post p-4" *ngFor="let post of page">
                <app-post  post_id="{{post._id}}"></app-post>
            </div>
          </div>
          <div *ngIf="!end" class="alert-info alert text-center">
            Loading...
          </div>
          <div class="elite-post p-4 text-center" *ngIf="end">
            <div class="container">
              <div class=" post-header pt-2">
                <a href="#" class="neutral-link post-title">Fin du fil d'actualité</a>
                <p class="post-desc d-block"> Revenez plus tard</p>
              </div>
              <div class="post-body pt-2">
                <a href="https://media.giphy.com/media/upg0i1m4DLe5q/giphy.gif" target="_blank">
                  <img class="img-fluid" src="https://media.giphy.com/media/upg0i1m4DLe5q/giphy.gif">
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-lg-3 d-none d-lg-block">
      <div class="profile-side">
        <div class="profile-section">
          <img *ngIf="Auth.user_info.avatar_link" src="{{Auth.user_info.avatar_link}}" width="150px" height="150px" class="rounded-circle mb-2">
          <img *ngIf="!Auth.user_info.avatar_link" src="https://via.placeholder.com/150" width="150px" height="150px" class="rounded-circle mb-2">
          <div class="profile-name">{{Auth.user_info.surname}} {{Auth.user_info.lastname}}</div>
          <div class="text-center font-italic font-weight-bold">{{Auth.user_info.username}}</div>
        </div>
        <div class="profile-section">
          <div class="text-center">{{Auth.user_info.points_elite || 0}} <span class="elite-link-color">pE</span></div>
        </div>
        <div class="profile-section new-post">
          <a class="elite-link-color" routerLink="/newpost"><button class="btn btn-outline-dark font-weight-light">Nouveau post <fa-icon [icon]="faPlusCircle"></fa-icon></button></a>
        </div>
        <div *ngIf="Auth.user_info.admin" class="profile-section">
          <a class="elite-link-color" routerLink="/admin"><button class="btn btn-outline-success font-weight-light">Backend <fa-icon [icon]="faTools"></fa-icon></button></a>
        </div>
        <div class="profile-section card-section">
          <div>
            <img src="https://via.placeholder.com/1500" id="card" class="profile-card align-content-center" width="178px" height="115px">
            <div class="font-weight-light">Carte <span class="card-{{Auth.user_info.card_type}}">{{Auth.user_info.card_type}}</span></div>
            <div class="font-weight-light">Département <span class="dep-{{Auth.user_info.departement}}">{{Auth.user_info.departement}}</span></div>
          </div>
          <div>
            <div class="font-italic mt-1 font-weight-light">Carte N° {{Auth.user_info.CAEL_id}}</div>
            <div class="font-italic font-weight-light">Expire le : {{Auth.epochToDate(Auth.user_info.exp_date)}}</div>
          </div>
          <div class="mt-2"><button class="btn btn-outline-dark">Renouveler <fa-icon [icon]="faSyncAlt"></fa-icon></button></div>
        </div>
      </div>
    </div>
  </div>
</main>
