<style>
  body {
    background: #dedede;
  }
  .page-wrap {
    min-height: 100vh;
  }
</style>
<body>
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead">The page you are looking for was not found.</div>
        <button type="button" routerLink="/feed" class="btn elite-link-color">Back to Home</button>
      </div>
    </div>
  </div>
</div>
</body>
