<div *ngIf="post.post" class="container-fluid">
  <div class="row" id="{{post.post._id}}">
    <div class="col-lg-10 d-inline">
      <img *ngIf="!post.user.avatar_link" src="https://via.placeholder.com/150" class="avatar-img-mini  rounded-circle">
      <img *ngIf="post.user.avatar_link" src="{{post.user.avatar_link}}" class="avatar-img-mini rounded-circle elite-avatar-mini">
      <span class="pl-2">{{post.user.username}} &#183; {{post.user.points_elite}} <span class="elite-link-color">pE</span></span>
    </div>
    <div class="col-lg-2 text-right  d-none d-lg-block">
      {{Auth.epochToDate(post.post.created_at)}}
    </div>
  </div>
  <div *ngIf="Auth.error && Auth.error.errorUi == post.post._id" class="alert alert-{{Auth.error.errorSeverity}} alert-dismissible fade show" role="alert" style="margin-top: 5%">
    {{Auth.error.errorContent}} <code>{{Auth.error.errorCode}}</code>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class=" post-header pt-2">
    <a routerLink="/feed" class="neutral-link post-title">{{post.post.content.title}}</a>
    <!-- Si une image et une description -->
    <p class="post-desc d-block" *ngIf="post.post.content.pic_link"> {{post.post.content.desc}}</p>
  </div>
  <div class="post-body pt-2" *ngIf="post.post.content.pic_link">
      <img class="img-fluid" src="{{post.post.content.pic_link}}" alt="{{post.post.content.title}}">
  </div>
  <!-- Si pas de photo -->
  <div class="post-body pt-2" *ngIf="!post.post.content.pic_link">
    <p class="post-desc d-block text-left"> {{post.post.content.desc}}</p>
  </div>
  <div class="post-vote">
    <div class="pt-5 pl-5 pr-5 pb-1 justify-content-between d-flex">
      <button (click)="vote(post.post._id, 'up');"><fa-icon [icon]="faArrowUp" size="2x" class="vote-{{upvote}}" id="upvote-{{post_id}}"></fa-icon></button>
      <span >{{post.post.points_elite}}</span>
      <button (click)="vote(post.post._id, 'down');"><fa-icon [icon]="faArrowDown" size="2x" class="vote-{{downvote}}" id="downvote-{{post_id}}"></fa-icon></button>
    </div>
  </div>
</div>
