<div class="elite-bg">
  <div class="commit {{appDetails.denv.display}}">
    Commit : {{appDetails.denv.commit}}
  </div>
  <div class="text-white">
    Accès à la <a href="https://v4.elite21.fr/login"><abbr title="Développeurs et testeurs uniquement">Version 4</abbr></a>
  </div>
  <div class="center-wrapper">
  <div class="center-box">
    <div class="elite-title">
      <div class="title-primary">La carte élite.</div>
      <div class="title-secondary">Plus qu'une carte, un mode de vie.</div>
    </div>
    <form (submit)="loginUser($event)">
      <div class="text-sm-left text-muted"><label for="username">
        <span *ngIf="Auth.error" class="text-{{Auth.error.errorSeverity}}">
          {{Auth.error.errorContent}}
        </span>
        <span *ngIf="!Auth.error">
          Connectez-vous.
        </span>
      </label></div>
      <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Email ou nom d'utilisateur" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password"  placeholder="Mot de passe" required>
      </div>
<!--      <div class="form-check remember-me">
        <input type="checkbox" id="remember" class="form-check-input"><label for="remember" class="form-check-label">Se souvenir de moi.</label>
      </div> -->
      <!-- Useless -->
      <button type="submit" class="btn btn-dark btn-block">Entrer   <fa-icon [icon]="faLock"></fa-icon></button>
    </form>
    <div class="elite-link">
      <hr>
      <p>Nouvelle carte ?
        <a routerLink="/activate">Procédure d'activation <fa-icon [icon]="faArrowCircleRight"></fa-icon></a>
      </p>

      <p>Vous avez déja un compte ?
        <a routerLink="/link">Ajouter votre carte Élite <fa-icon [icon]="faPlusCircle"></fa-icon></a>
      </p>

      <p>Mot de passe perdu ?
        <a routerLink="/requestpwd">Reinitialiser votre mot de passe  <fa-icon [icon]="faKey"></fa-icon></a>
      </p>
    </div>
  </div>
</div>
</div>
