<app-navbar></app-navbar>
<div class="feed-body">
  <h2 class="text-center strong">Admin Panel</h2>
  <div>
    <form (submit)="addCard($event)" class="p-5">
      <small *ngIf="Auth.error && Auth.error.errorUi == 5" class="text-{{Auth.error.errorSeverity}}">
        {{Auth.error.errorContent}}
      </small>
      <div class="form-group">
        <input class="form-control" minlength="8" maxlength="8" placeholder="CAEL_id" id="newCAEL_id">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Ajouter carte</button>
    </form>
  </div>
  <hr>
  <div>
    <form (submit)="getCard($event)" class="p-5">
      <div *ngIf="Auth.error && Auth.error.errorUi == 6" class="text-{{Auth.error.errorSeverity}}">
        {{Auth.error.errorContent}}
      </div>
      <div *ngIf="Auth.error && Auth.error.errorUi == 6" class="text-{{Auth.error.errorSeverity}}">
        {{Auth.error.errorContent}} :
        <table>
          <tr>
            <th>Type</th>
            <td>{{card_infos.type}}</td>
          </tr>
          <tr>
            <th>Département</th>
            <td>{{card_infos.departement}}</td>
          </tr>
          <tr>
            <th>ID</th>
            <td>{{card_infos.CAEL_id}}</td>
          </tr>
          <tr>
            <th>Registration Time</th>
            <td>{{Auth.epochToDate(card_infos.registration_time)}}</td>
          </tr>
          <tr>
            <th>Revoked</th>
            <td>{{card_infos.revoked}}</td>
          </tr>
          <tr>
            <th>Assigned</th>
            <td>{{card_infos.assign}}</td>
          </tr>
          <tr>
            <th>Exp. Date</th>
            <td>{{Auth.epochToDate(card_infos.exp_date)}}</td>
          </tr>
          <tr>
            <th>Code</th>
            <td>{{card_infos.CAEL_code}}</td>
          </tr>
          <tr *ngIf="card_infos.user_id">
            <th>User_id</th>
            <td>{{card_infos.user_id}}</td>
          </tr>
        </table>
      </div>
      <div class="form-group">
        <input class="form-control" minlength="8" maxlength="8" placeholder="CAEL_id" id="getCAEL_id">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Informations sur la carte</button>
    </form>
  </div>
  <hr>
<div class="container">
  <form (submit)="getCards($event)" class="p-5">
        <div class="form-group">
          <label for="assign">Assingée ?</label>
          <select class="custom-select" id="assign">
            <option value="null" selected>Non défini</option>
            <option value="true">Oui</option>
            <option class="false">Non</option>
          </select>
        </div>
        <div class="form-group">
          <label for="revoked">Révokée ?</label>
          <select class="custom-select" id="revoked">
            <option value="null" selected>Non défini</option>
            <option value="true">Oui</option>
            <option class="false">Non</option>
          </select>
        </div>
        <div class="form-group">
          <input placeholder="user_id (non défini)" class="form-control" id="user_id">
          <input placeholder="type (non défini)" class="form-control" id="type">
          <input placeholder="departement (non défini)" class="form-control" id="dep">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Rechercher une carte</button>
  </form>
  </div>
  <div class="container-fluid">
    <table class="table table-striped">
    <caption>Liste des cartes en circulation</caption>
    <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Code</th>
      <th scope="col">Expiration</th>
      <th scope="col">Utilisateur</th>
      <th scope="col">Type</th>
      <th scope="col">Département</th>
      <th colspan="3">Management</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let card of cards_list;">
      <td scope="row">{{card.CAEL_id}}</td>
      <td>{{card.CAEL_code}}</td>
      <td>{{Auth.epochToDate(card.exp_date)}}</td>
      <td> {{card.user_id}}</td>
      <td>{{card.type}}</td>
      <td>{{card.departement}}</td>
      <td><input type="checkbox" [defaultChecked]="card.revoked">Revokée</td>
      <td><input type="checkbox" [defaultChecked]="card.assign">Assignée</td>
    </tr>
    </tbody>
  </table>
  </div>
  <hr>
  <div class="container-fluid">
    <table class="table table-striped">
      <caption>Liste des utilisateurs</caption>
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Disable</th>
        <th scope="col">Last Login</th>
        <th scope="col">Admin</th>
        <th scope="col">Registration</th>
        <th scope="col">Email</th>
        <th scope="col">Points elite</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users_list;">
        <td scope="row">{{user.username}}</td>
        <td>{{user.disable}}</td>
        <td>{{Auth.epochToDate(user.lastLogin)}}</td>
        <td> {{user.admin}}</td>
        <td>{{Auth.epochToDate(user.registration_time)}}</td>
        <td>{{user.email}}</td>
        <td>{{user.points_elite}}</td>
      </tr>
      </tbody>
    </table>
    <button type="submit" (click)="getUsers($event)" class="btn btn-primary btn-block">Users list</button>
  </div>
  <hr>
  <div class="container">
    <form (submit)="updateCard($event)">
      <small *ngIf="Auth.error && Auth.error.errorUi == 1" class="text-{{Auth.error.errorSeverity}}">
        {{Auth.error.errorContent}}
      </small>
      <div class="form-group">
        <input class="form-control" id="m_CAEL_id" minlength="8" maxlength="8" placeholder="No de Carte élite">
      </div>
      <div class="form-group">
        <input type="text" minlength="7" maxlength="7" id="m_CAEL_code" class="form-control" placeholder="Nouveau code">
      </div>
      <div class="form-group">
        <label for="m_revoked">Révokée ?</label>
        <select class="custom-select" id="m_revoked">
          <option value="null" selected>Non défini</option>
          <option value="true">Oui</option>
          <option class="false">Non</option>
        </select>
      </div>
      <div class="form-group">
        <label for="m_assign">Assignée ?</label>
        <select class="custom-select" id="m_assign">
          <option value="null" selected>Non défini</option>
          <option value="true">Oui</option>
          <option class="false">Non</option>
        </select>
      </div>
      <button class="btn btn-primary btn-block">Mettre a jour la carte</button>
    </form>
  </div>
  <hr>
  <div class="container pb-5">
    <form (submit)="addQuote($event)">
      <small *ngIf="Auth.error && Auth.error.errorUi == 2" class="text-{{Auth.error.errorSeverity}}">
        {{Auth.error.errorContent}}
      </small>
      <div class="form-group">
        <input class="form-control" id="quote" type="text" placeholder="Citation">
      </div>
      <div class="form-group">
        <input type="text" id="author" class="form-control" placeholder="Auteur">
      </div>
      <div class="form-group">
        <input type="text" id="date" class="form-control" placeholder="Date">
      </div>
      <button class="btn btn-primary btn-block">Ajouter une citation</button>
    </form>
  </div>
</div>
