<div class="elite-bg">
  <div class="commit {{appDetails.denv.display}}">
    Commit : {{appDetails.denv.commit}}
  </div>
  <div class="center-wrapper">
    <div class="center-box">
      <div class="elite-title">
        <div class="title-primary">
          Changer votre mot de passe
        </div>
      </div>
      <form (submit)="pwdChange($event)" [noValidate]="false">
        <label *ngIf="Auth.error" class="text-{{Auth.error.errorSeverity}}">{{Auth.error.errorContent}}</label>
        <div class="form-group">
          <input type="password" class="form-control" id="old_pwd" required placeholder="ancien mot de passe">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="new_pwd" required placeholder="nouveau mot de passe">
          <input type="password" class="form-control" id="new_pwd_conf" required placeholder="confirmer le mot de passe">
        </div>
        <button type="submit" class="btn btn-dark btn-block">Changer le mot de passe <fa-icon [icon]="faKey"></fa-icon></button>
      </form>
      <div class="activate-return elite-link">
        <a routerLink="/feed">Retour <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
