<div class="elite-bg">
  <div class="commit">
    Commit : {{appDetails.denv.commit}}
  </div>
  <div class="center-wrapper">
    <div class="center-box">
      <div class="elite-title">
        <div class="title-primary">La carte Élite.</div>
        <div class="title-secondary">Activation de votre carte Élite.</div>
      </div>
      <form (submit)="activateCard($event)" [noValidate]="false">
        <div class="text-center" id="intro">
          Vos informations sont sécurisées et confidentiels.
          <label for="intro" *ngIf="Auth.error" class="text-{{Auth.error.errorSeverity}} d-block">
            {{Auth.error.errorContent}}
          </label>
        </div>
        <div class="activate-infos">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input class="form-control" autofocus type="text" required id="lastname" placeholder="nom">
            </div>
            <div class="form-group col-md-6">
              <input class="form-control" type="text" required id="surname" placeholder="prénom">
            </div>
          </div>
          <div class="form-group">
            <select id="gender" class="custom-select" required>
              <option disabled selected >Selectionnez votre genre</option>
              <option value="f">Femme</option>
              <option value="h">Homme</option>
              <option value="tyrone">Hélicoptère de combat</option>
              <option value="o">Autre</option>
            </select>
          </div>
          <div class="form-group">
            <!--Merci https://stackoverflow.com/questions/20321202/not-showing-placeholder-for-input-type-date-field-->
            <input id="birthday" onfocus="(this.type='date')" required class="form-control" type="text" placeholder="date de naissance">
          </div>
        </div>
        <div class="activate-infos">
          <div class="form-group">
            <input class="form-control" aria-describedby="usernameHelp" type="text" [minLength]="4" [maxLength]="12" required id="username" placeholder="nom d'utilisateur">
            <small id="usernameHelp" class="form-text text-muted">Votre nom d'utilisateur être composé avec plus 4 caractères alphanumérique.</small>
          </div>
          <div class="form-group">
            <input class="form-control" type="email" required id="email" placeholder="votre@email.fr" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre email à un tiers.</small>
          </div>
          <!-- https://stackoverflow.com/questions/9142527/can-you-require-two-form-fields-to-match-with-html5 -->
          <div class="form-group">
            <input class="form-control" type="password" [minLength]="7" required id="password" placeholder="mot de passe">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" [minLength]="7" required id="confirm_password" oninput="check(this)" placeholder="confirmez mot de passe">
          </div>
        </div>
        <div class="activate-infos">
          <div class="form-group">
            <input id="CAEL_id" required class="form-control" type="tel" autocomplete="off" [minLength]="8" [maxLength]="8" placeholder="n° de carte élite" aria-describedby="CAELhelp">
            <small id="CAELhelp" class="form-text text-muted">Les 8 chiffres sur la face avant de votre carte.</small>
          </div>
          <div class="form-group">
            <input id="CAEL_code" type="text" required class="form-control" autocomplete="off" [minLength]="7" [maxLength]="7" placeholder="code d'activation" aria-describedby="aCodehelp">
            <small id="aCodehelp" class="form-text text-muted">Code fourni lors de l'achat de votre carte.</small>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-dark">Valider <fa-icon [icon]="faCheckCircle"></fa-icon></button>
      </form>
      <div class="activate-return elite-link">
          <a routerLink="/login">Retour <fa-icon [icon]="faArrowCircleLeft"></fa-icon></a>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/check_password.js"></script>
