.activate-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.activate-box {
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 200px;
}
.activate-title{
  padding: 50px;
  font-weight: 300;
  color: #212529;
}
