<div class="elite-bg">
  <div class="commit {{appDetails.denv.display}}">
    Commit : {{appDetails.denv.commit}}
  </div>
  <div class="center-wrapper">
    <div class="center-box">
      <div class="elite-title">
        <div class="title-primary">La carte Élite.</div>
        <div class="title-secondary">Ajout de votre nouvelle carte Élite.</div>
      </div>
      <form (submit)="linkCard($event)" [noValidate]="true">
        <div class="text-sm-left text-muted">
          <label for="username">
            <span *ngIf="Auth.error" class="text-{{Auth.error.errorSeverity}}">
              {{Auth.error.errorContent}}
            </span>
            <span *ngIf="!Auth.error">
                Vous avez un compte avec une carte expirée ou révoquée.
                <br>
                Liez votre nouvelle carte ici.
            </span>
          </label>
        </div>
        <div class="activate-infos">
          <div class="form-group">
            <input class="form-control" type="text" required id="username" placeholder="votre nom d'utilisateur">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" required id="password" placeholder="mot de passe">
          </div>
        </div>
        <div class="text-center text-muted pt-2">Informations sur votre nouvelle carte élite.</div>
        <div class="activate-infos">
          <div class="form-group">
            <input id="CAEL_id" required class="form-control" autocomplete="off" type="tel" [minLength]="8" [maxLength]="8" placeholder="n° de carte élite" aria-describedby="CAELhelp">
            <small id="CAELhelp" class="form-text text-muted">Les 8 chiffres sur la face avant de votre carte.</small>
          </div>
          <div class="form-group">
            <input id="CAEL_code" type="tel" required class="form-control" autocomplete="off" [minLength]="7" [maxLength]="7" placeholder="code d'activation" aria-describedby="aCodehelp">
            <small id="aCodehelp" class="form-text text-muted">Code fourni lors de l'achat de votre carte.</small>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-dark">Lier <fa-icon [icon]="faCheckCircle"></fa-icon></button>
      </form>
      <div class="activate-return elite-link">
        <a routerLink="/login">Retour <fa-icon [icon]="faArrowCircleLeft"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
