<app-navbar></app-navbar>
<main role="main" class="container feed-body">
  <div class="elite-post p-4">
    <div class="post-title">
      Postez!
    </div>
    <div *ngIf="Auth.error">
      <span class="text-{{Auth.error.errorSeverity}}">{{Auth.error.errorContent}}</span>
    </div>
    <form enctype="multipart/form-data" (submit)="addPost($event)" id="post_form">
      <label for="title"></label>
      <div class="form-group">
        <input name="title" class="form-control" type="text" required placeholder="Titre du post" id="title">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="desc" id="desc"  placeholder="Description du post">
      </div>
      <hr>
      <div class="text-muted pb-1">Ajouter une image</div>
      <div class="form-group">
        <input type="file" class="form-control-file" name="image" id="image">
        <small class="form-text text-muted">Depuis votre mémoire.</small>
      </div>
      <div class="form-group">
        <input type="url" class="form-control" name="pic_url" id="pic_url" placeholder="l'url de l'image">
        <small class="form-text text-muted">Depuis un site exterieur.</small>
      </div>
      <button class="btn btn-outline-dark" type="submit">Envoyer <fa-icon [icon]="faPaperPlane"></fa-icon></button>
    </form>
    <div class="activate-return elite-link">
      <a routerLink="/feed">Retour <fa-icon [icon]="faArrowCircleLeft"></fa-icon></a>
    </div>
    <div class="progress mt-4">
      <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
    <div class="alert-info">
      <div id="uploading" class="alert d-none">Uploading...</div>
    </div>
  </div>

</main>
