.center-wrapper{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.elite-bg {
  background-image: url("../img/prism.png");
  /* https://www.toptal.com/designers/subtlepatterns/ */
}

.dash-bg {
  background-image: url("../img/pipes.png");
}

.activate-return {
  border-top: solid 1px #e7e7e8;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;

}

.center-box {
  width: 600px;
  background-color: #f4f7f7;
  border: 2px solid #274c5e;
  padding: 35px;
  border-radius: 7px;
}

.dash-nav {
  border: 1px solid #dedede;
  background-image: url("../img/prism.png");
  color: white;
}

.dash-box {
  width: 600px;
  background-color: #f4f7f7;
  border: 2px solid #bdbdbd;
  padding: 35px;
  border-radius: 7px;
}


.dash-wrapper{
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.commit{
  color: black;
  font-size: medium;
}

.activate-box {
  width: 600px;
  background-color: #f4f7f7;
  border: 2px solid #274c5e;
  padding: 50px;
}

.activate-intro {
  padding-top: 5px;
}

.remember-me{
  padding-bottom: 10px;
}

.title-primary{
  font-weight: 300;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5em;
}
.title-secondary{
  font-weight: 300;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  color: #77919d;
}

.elite-title {
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e8;
}

.elite-title > .title-secondary {
  padding-bottom: 10px;
}

.signin-box > .title-secondary {
  padding-bottom: 20px;
}

.activation-text {
  padding-top: 5px;
  text-align: center;
}

.elite-link  a{
  color: #e2ad46;
  font-weight: lighter;
  display: inline-block;

}

.elite-color-credit{
  color: #9F6D0D;
  font-size: larger;
}
.elite-color-point{
  color: #adaaa4;
  font-size: larger;
}

.activate-infos{
  border-bottom: 1px solid #e7e7e8;
  padding: 30px 0 20px;
}

.input-custom {
  padding: 30px 0 20px;
}

/*
  Design des différentes cartes et departments
 */


.elite-card-gold {
  color: gold;
}

.elite-dep-RT {
  color: green;

}
