.feed-bg {
    background-image: url("../img/pipes.png");
}

.feed-nav {
    background-image: url("../img/prism.png");
    color: white;
}
.post-btn, .post-vote   {
    align-content: center;
    text-align: center;
}

.elite-post {
    padding: 50px;
    background-color: #f6f9f9;
    border-radius: 7px;
    margin-bottom: 15px;
    max-height: 100%;
}

.elite-avatar-mini {
  min-width: 40px;
}

.feed-body {
  min-height: 5rem;
  padding-top: 4.5rem;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
}

.vote-voted {
  color: green;
}
.vote-none {
  color: grey;
}


.commit{
    color: black;
    font-size: medium;
}

.elite-link-color {
    color: #e2ad46;
    font-weight: lighter;
}
a.elite-link-color {
    color: #e2ad46;
    font-weight: lighter;
}

a.elite-nav-title {
    font-weight: 300;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    color: #f4f7f7;
}

.avatar-img-mini {
    max-height: 40px;
    max-width: 40px;
}

.post-title{
    font-weight: bold;
    font-family:  Arial, sans-serif;
    font-size: 1.2em;
}

.elite-title-feed{
    font-weight: 300;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: x-large;
    background-color: #e2ad46;
    border-radius: 9px;
    color: #fdfdfe;
}

a.neutral-link {
    color: #1d1e1e;
    text-decoration: none;
}

.post-header{
    border-bottom: 1px solid #818182;
}


.vote-set {
  color: #FFF;
}
.vote-unset {
  color: #000;
}

.post-body {
    display: block;
    align-content: center;
    text-align: center;
}

.post-body,  img {
  max-height: 450px;
}


.profile-side {
    padding: 40px;
    background-color: #f4f7f7;
    border-radius: 7px;
    text-align: center;
}

.profile-section {
    margin-top: 10px;
}
.profile-section > div {
    padding-top: 3px;

}
.profile-section > img {
    margin-top: 3px;
}

.profile-card {
    border-radius: 10px;
}

.card-section {
    margin-top: 75px;
}

.card-section > div {
    padding-top: 15px;
}

footer {
    background-image: url("../img/prism.png");
    text-align: center;
    padding: 20px;
    font-weight: lighter;
}

